
section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

body{
    background: linear-gradient(var(--blanc1),var(--blanc2))
}

#reds {
    padding: 1rem;
    background: linear-gradient(var(--rs1),var(--rs2))
}

#hrinferior{
    height: 0.1rem;
    max-width: 100%;
    border: 0;
    background-image: linear-gradient(to right,rgba(0,0,0,0),var(--blanc1),rgba(0,0,0,0));
}

hr{
    height: 0.1rem;
    max-width: 100%;
    border: 0;
    background-image: linear-gradient(to right,var(--blanc1),var(--rs2),var(--blanc2));
}

a{
    color: black;
}

.cuadra{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5rem;
    grid-gap: 1rem;
    display: flex;
    justify-content: center;
}

#Panel {
    z-index:1;
    padding: 5rem 0 ;
    padding-top: 120px;
    position: relative;
    overflow: hidden;
    background: var(--blanc2);    
}
    
#Panel  video{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 100%;
    min-width: 100%;
    opacity: 0.1;
}
.flexImagenes{
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 30px 80px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
}

#Nuevo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%; /* Ajusta el ancho del bloque según tus necesidades */
   
}

#sproducto{
    display:flex;
    justify-content: center;
    align-items: center; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}