
.nuevo{
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 35px;
}

.nuevo img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5 ease;
}

.nuevo img:hover{
    cursor:pointer;
    flex-grow: 1.2;
    opacity: 1;
    filter:contrast(120%);
}